<h1><%= @article.title %></h1>
<p>
	Tags:
	<% @article.tags.each do |tag| %>
		<%= link_to tag.name, tag_path(tag) %>
	<% end %>
</p>

<br>
<p><%= @article.body %></p>
<br><br>
<%= link_to 'edit', edit_article_path(@article) %>
<br><br>
<%= link_to 'delete!', article_path(@article), method: :delete, 
data: {confirm: 'Really and truly delete?'} %>
<br><br><br><br>
<%= link_to '<< Back', articles_path %>
<br><br>
<h3>Comments (<%= @article.comments.count %>):</h3>
<%= render partial: 'comment', collection: @article.comments %>
<br>
<%= render partial: 'comments/form' %>